@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'PlusJakartaText';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('./fonts/PlusJakartaText-Light.otf');
}

@font-face {
  font-family: 'PlusJakartaText';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/PlusJakartaText-Regular.otf');
}

@font-face {
  font-family: 'PlusJakartaText';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./fonts/PlusJakartaText-Bold.otf');
}


body {
  margin: 0;
  color: "#fff";
  font-family: PlusJakartaText !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: PlusJakartaText;
}

img {
  pointer-events: none;
}